body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body {
  flex-grow: 1;
}

.header {
  box-shadow: 0px 0px 10px #626262;
}

.header img {
  height: 40px;
}

.header .navbar {
  padding: 8px 16px;
}

.header .navbar-brand {
  display: inline-block;
}

#navbarNavAltMarkup {
  justify-content: flex-end;
  font-size: 0.8em;
}

.header .nav-link{
  font-weight: bold !important;
}

.footer {
  background-color: #333333;
  color: #999999;
  font-size: .8em;
}

.footer-container,
.footer-links {
  max-width: 800px;
  padding: 24px;
  display: flex;
  justify-content: space-evenly;
}

.footer-container {
  margin: 0 auto;
  flex-direction: column;
}

.footer-links {
  padding: 0 0 12px;
  margin-bottom: 0px
}

.separator {
  height: 1px;
  background: #999;
  opacity: 1;
  border: none;
  /* width: 100%; */
  margin: 0 auto 12px;
}

.copyright-text {
  margin: 0px;
  text-align: center;
  font-weight: bold !important;
}